<!DOCTYPE html>
    <html>
        <head>
            <title><%= title%></title>
            <link rel='stylesheet' href='/stylesheets/style.css' />
        </head>
        <body>
                <p>User Name: <%= userData[0].username%></p>

                <p>First Name: <%= userData[0].firstname%></p>

                <p>Last Name: <%= userData[0].lastname%></p>
        </body>
    </html>