<% include partials/header.ejs %>
        <body>
                <p>User Name: <%= userData[0].username%></p>

                <p>First Name: <%= userData[0].firstname%></p>

                <p>Last Name: <%= userData[0].lastname%></p>
        </body>
    </html>